.form-input{
    border-radius: 0 !important;
}

.form-group{
    margin-bottom: 10px !important;
}

.row{
    display: flex !important;
    justify-content: center !important;
}

.card{
    border: 0 !important;
}

.title{
    font-size: 48px !important;
    text-align: center;
}

.reset-button{
    margin-top: 20px;
    border-radius: 0 !important;
    width: 100%;
}